body {
    background: #fefefe;
    color: #333;
}

.main {
    padding-top: 50px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.link {
    color: rgb(33, 107, 98);
}

.heading {
    color: #022F40;
    margin-bottom: 48px;
}

.sectionHeader {
    color: #0090C1;
}

.thirdHeader {
    color: #38AECC;
    margin-bottom: 8px;
}

.paragraph {
    border: 3px solid rgb(33, 107, 98);
    border-radius: 5px;
    padding: 8px;
}

.about {}

.box {
    border: 10px solid red;
    padding: 10px;
    width: 80px;
    height: 80px;
    background: tomato;
    box-sizing: border-box;
    position: absolute;
}